{% extends "base.html" %}

{% block content %}
<h1>Здравствуйте!</h1>
<h2>Список пользователей:</h2>
{% for item in users %}
{% if item[5] != "1" %}
<div class="alert alert-primary" role="alert">
    <h3>{{item[2]}} {{item[3]}} {{item[4]}}</h3>
</div>
<a href="/create_admin/{{item[2]}}">
    <button type="submit" class="btn btn-primary">Сделать администратором</button>
</a>

{% endif %}
{% endfor %}
<br>
<br>
<a href="/logout">
    <button type="submit" class="btn btn-primary">Выйти</button>
</a>
{% endblock %}